NODE_ENV='local'
APP_DOMAIN='legitimize.io'

NEXT_PUBLIC_LEGIT_BASE_URL='http://localhost:3000'

NEXT_PUBLIC_OPENSEA_ASSETS_URL = 'https://testnets.opensea.io/assets/mumbai'

# Moralis
MORALIS_API_KEY=''

NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET=''

# Moralis Mumbai test server
NEXT_PUBLIC_MORALIS_APP_ID=''
NEXT_PUBLIC_MORALIS_SERVER=''
MORALIS_MASTER_KEY=''

INFURA_PROJECT_ID=''

# Magic Auth
NEXT_PUBLIC_MAGIC_APIKEY=''
MAGIC_PRIVATE_KEY=''

# Pinata
NEXT_PUBLIC_PINATA_GATEWAY='legitimize.mypinata.cloud'
PINATA_APIKEY=''
PINATA_SECRET_KEY=''
PINATA_V2_API_KEY=''

# Remove.bg
REMOVE_BG_APIKEY=''

SECRET_COOKIE_PASSWORD=''

# Twitter API
TWITTER_API_KEY='TstPlS0i01LO5NlouEMQLL6b8'
TWITTER_API_SECRET='HFEJ3uTnmNIOaQQSn1DEIbpA83A7HMI3V7jqAHPQClrfBwau2R'
